@charset "UTF-8";


.shen10 {

margin-bottom :-140px;
margin-top :-100px;

}

.header {

height : 100%;
width : 100%;
opacity : 0.7;
position: fixed;
margin-top: -10px;
margin-left:px;
height :100px;
background-color : #222222;
z-index: 1;



}
.header9 {

height : 100%;
width : 98.64%;
margin-top: -10px;
margin-left:px;
height :100px;
background-color : #222222;
margin-bottom : 400px;



}

.topimg {

margin-top : 10px;
height : 222px;
width : 150px;

}

.container2 {

height : 100%;
width : 100%;

}
.shen3 {

margin-top : -60px;


}

.barrenav {

margin-left : 40px;
margin-right: 40px;
background-color : #;
height

}

.shen4 {

margin-left:  180px;
margin-top : 42px;
text-align :;
width : 100%;
}

.shen12
{
height : 100px;
width : 155px;


margin-top: 40px;
margin-left: 22px;
color : #fff;


}
.shen13 {

margin-top : 20px;
margin-left : 80px;
font-family: Verdana, sans-serif;
font-weight: lighter;
color : #fff;
font-size: large;
}

.shen9 {
width : %;
margin-top :-20px;
margin-right:-20px;

}
.shen19 {

margin-left: -90px;


}
.shen18 {
 margin-left : -129px;
 margin-top : 5px;
 color : #fff;
}

.shen14 {

margin-top: 20px;
color : #fff;
FLOAT : right;

}

.header2 {


height: 100px;
margin-top : -25px;
margin-bottom: -28px;
background-color : #000000;
width: 100%;

}

.shen15 {

margin-left: -30px;
margin-top: 8px;
color : #fff;
}
.shen7 {
margin-left: 600px ;
float :  ;
text-align : center;
margin-right : 0px;
position : fixed;
width : 100%;


}
.shen11 {
 margin-left : 166px;

}
ul {
 padding:0;
 margin:0;
 list-style-type:none;
   font-size: 1.0em;

 }


li {
 margin-left:2px;
 float:left; /*pour IE*/
 }

 li a {

 display:block;
 float:left;
 width:;
 background-color:#;
 color: white;
 text-decoration:none;
 text-align:;
 padding:10px;
 font-size: large;
 border:px ;
 border-color:# # # #;
   font-size: 1.0em;


 }


ul li a:hover {

color : #0088fb;
  text-decoration:none;
  background-color : #;

 }

.shen2 {

margin-top : 16px;
margin-left: 10px;
height : 100px;
width : 155px;

}
.shen {
margin-top : -80px;
margin-right : 23px;

}

.shen6 {

margin-top : -70px;

}
.footer {

width : 100%;
height : 100%;
float : clear;
height :;
background-color : #31373B;


}

.play {



}
.coloro{
color : #000000;

}
.recherche {

margin-right : 10px;
}

.recherches {

margin-right : 100px;
}
. {

-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;

}


