  body{

	font-family: "Helvetica Neue";

}

    .centerSpe{
        text-align: center;
        color: white;
    }
    .panel {
    
            margin: 0 auto;
            width: 170px;
            height: 231px;  
            position: relative;
            font-size: .8em;
            -webkit-perspective: 600px;
            -moz-perspective: 600px;
        }
        /* -- make sure to declare a default for every property that you want animated -- */
        /* -- general styles, including Y axis rotation -- */
        .panel .front {
            position: absolute;
            top: 0;
            z-index: 900;
            width: inherit;
            height: inherit;
            text-align: center;
            -webkit-transform: rotateX(0deg) rotateY(0deg);
            -webkit-transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
            -moz-transform: rotateX(0deg) rotateY(0deg);
            -moz-transform-style: preserve-3d;
            -moz-backface-visibility: hidden;
            /* -- transition is the magic sauce for animation -- */
            -o-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
        .panel.flip .front {
            z-index: 900;
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            
        }
        .panel .back {
            position: absolute;
            top: 0;
            z-index: 800;
            width: inherit;
            height: inherit;
            -webkit-transform: rotateY(-180deg);
            -webkit-transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
 
            -moz-transform: rotateY(-180deg);
            -moz-transform-style: preserve-3d;
            -moz-backface-visibility: hidden;
            /* -- transition is the magic sauce for animation -- */
            -o-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
        .panel.flip .back {
            z-index: 1000;
            -webkit-transform: rotateX(0deg) rotateY(0deg);
            -moz-transform: rotateX(0deg) rotateY(0deg);
        }
        
  
.se {

margin-left : 30px;
margin-right : auto;

}      
.bord {
           
    color :#000000;
    width : 165px;
    height : 230px;
    border: 1px solid #e6e6e6;
     background-image : url(ziz.jpg);
     background-position : center bottom;
     background-repeat : no-repeat;
	text-align : ;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	 border-color: #64A6F2;
	 text-align : center ;
	 z-index : 1;

	 
        
        }
        

.bords{
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
z-index : 5;
height : 229px;
width : 162px;


}
.tex {

margin-top : 0px;
z-index :1;


}

.bouton {

height : 200px;
opacity : 0.2;
margin-left : 55px;
margin-top : -150px;
width: 60px;
height : 60px;
z-index : 3;

}


.bouton:hover {

opacity : 0.9;
width: 60px;
height : 60px;`
margin-left : 74px;
margin-top : -150px;


}
.pic:hover {

-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;


  outline: px solid #64A6F2; 
  
}

.leftSpacer {
    margin-left: 15%;
}

.unspaceTop {
    margin-top: -24px;
}
